.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache

data/*
!data/.gitkeep

figures/*
!figures/.gitkeep

models/*
!models/.gitkeep

results/*
!results/.gitkeep

logs/*
!logs/.gitkeep

outputs
multirun
wandb
.DS_Store